<div class="mainDiv">
  <mat-form-field class="example-form-field">
    <mat-label>Enter city name</mat-label>
    <input matInput ngx-google-places-autocomplete [formControl]="placesFormControl" [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
  </mat-form-field>
  <label>OR</label>
  <button (click)="getCurrentLocation()" mat-button> Get current location</button>
  <mat-card class="mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>Today's weather {{cityName}}</mat-card-title>
      <mat-card-subtitle>Today: {{currentDate|date}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="currentWeatherForecast">Temperature
        : {{currentWeatherForecast.temp - toCelsiusConstant|number}} <span>&#176;</span>C
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="currentWeatherForecast">Feels like
        : {{currentWeatherForecast.feels_like - toCelsiusConstant|number}} <span>&#176;</span>C
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="currentWeatherForecast">Weather
        : {{currentWeatherForecast.weather[0].description}}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<table mat-table *ngIf="currentWeatherForecast"
       [dataSource]="weatherTableDataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="Day">
    <th mat-header-cell *matHeaderCellDef> {{'Date'}} </th>
    <td mat-cell *matCellDef="let element"> {{element.day |date}}</td>
  </ng-container>
  <ng-container matColumnDef="TempDay">
    <th mat-header-cell *matHeaderCellDef> {{'Temperature Day'}} </th>
    <td mat-cell *matCellDef="let element"> {{element.temp.day - toCelsiusConstant|number}} <span>&#176;</span>C</td>
  </ng-container>
  <ng-container matColumnDef="TempNight">
    <th mat-header-cell *matHeaderCellDef> {{'Temperature Night'}} </th>
    <td mat-cell *matCellDef="let element"> {{element.temp.night - toCelsiusConstant|number}} <span>&#176;</span>C</td>
  </ng-container>
  <ng-container matColumnDef="Feels like day">
    <th mat-header-cell *matHeaderCellDef> {{'Feels Like Day'}} </th>
    <td mat-cell *matCellDef="let element"> {{element.feels_like.day - toCelsiusConstant|number}} <span>&#176;</span>C
    </td>
  </ng-container>
  <ng-container matColumnDef="Feels like night">
    <th mat-header-cell *matHeaderCellDef> {{'Feels Like Night'}} </th>
    <td mat-cell *matCellDef="let element"> {{element.feels_like.night - toCelsiusConstant|number}} <span>&#176;</span>C
    </td>
  </ng-container>
  <ng-container matColumnDef="Clouds">
    <th mat-header-cell *matHeaderCellDef> {{'Clouds'}} </th>
    <td mat-cell *matCellDef="let element"> {{element.clouds}}</td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="weatherForecastTableColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="element == weatherForecastTableExpandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <div class="example-element-position"> {{element.weather[0].main}} </div>
          <div class="example-element-weight"> {{element.weather[0].description}} </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="weatherForecastTableColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: weatherForecastTableColumns;"
      class="example-element-row"
      [class.example-expanded-row]="weatherForecastTableExpandedElement === element"
      (click)="weatherForecastTableExpandedElement = weatherForecastTableExpandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
